<div class="event-weather">
  <div class="event-weather-content">
    <h3>{{ 'Weather Info'|t }}</h3>
    <p><strong>{{ 'Temperature'|t }}:</strong> {{ weather.main.temp }} °C</p>
    <p><strong>{{ 'Feels Like'|t }}:</strong> {{ weather.main.feels_like }} °C</p>
    <p><strong>{{ 'Humidity'|t }}:</strong> {{ weather.main.humidity }}%</p>
    <p><strong>{{ 'Wind Speed'|t }}:</strong> {{ weather.wind.speed }} m/s</p>
  </div>
</div>